body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.title {
  font-size: 1.4em;
  font-weight: 300;
}

.bar-group .name-label {
  text-anchor: end;
  font-weight: 300;
  font-size: 1em;
  fill: #333;
}

.bar-group .value-label {
  text-anchor: end;
  fill: #fff;
  font-weight: 900;
  font-size: 0.7em;
}
